<h2 class="span12">Add Member</h2>
<div class="span4">
  <form class="well form-vertical" method="post" action="create">
    <fieldset>

      <div class="control-group">
        <input type="text" id="member_first_name" name="member[first_name]" placeholder="First Name">
      </div>
      <div class="control-group">
        <input type="text" id="member_surname" name="member[surname]" placeholder="Surname">
      </div>
      <div class="control-group">
        <textarea rows="2" cols="20" id="member_hobbies" name="member[hobbies]" placeholder="Favourite pastimes"></textarea>
      </div>
      <p><button type="submit" class="btn btn-primary btn-large">Add Member &raquo;</button></p>
    </fieldset>
  </form>
</div>